<div class="container py-5">
    <div class="row home py-5">
        <div class="col-lg-7 pt-5 mt-5 ">
            <span class="pt-5">Find <span style="color:#DCA728">article</span> around all world</span>
            <p class="mb-3">Start to know more and more news</p>
            <br>
            <button type="button"  class="bb" (click)="gotopage('allarticle')"><span class="hi">Show more</span>
            </button>
        </div>
        <div class="col-lg-3 pt-5 mb-5">
            <img  class="homeimg" src="../../../assets/img/ttt.png">
        </div>
    </div>
</div>
           
           
            
